* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-bottom: 100px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .lesson{
    width: 50%;
  }
}

@media (max-width: 670px) {
  .lesson{
    width: 100%;
  }
}


.top-wrapper {
  padding: 100px 0 50px 0;
  background-color: #FF9900;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 150px;
  letter-spacing: 5px;
  font-family: "Impact";
  padding-bottom: 10px;
}

.top-wrapper h2 {
  font-size: 30px;
  padding-bottom: 0px;
  font-family: Times New Roman;
}

.top-wrapper p {
  opacity: 0.7;
}

.lesson-contents {
  padding-bottom: 200px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #222222;
}

.facebook {
  background-color: #222222;
  margin: 100px 0;
}

.twitter {
  background-color: #222222;
}

.btn {
  height: 60px;
  width: 200px;
  padding: 15px 15px;
  font-size: 35px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  font-family: arial black;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right:px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* positionプロパティをfixedに、topを0に指定してください */
  position: fixed;
  top: 0;

  /* z-indexを10に指定してください */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.services-wrapper {
  height: 500px;
  background-color: #f7f7f7;
  text-align: center;
  padding: 0 100px;
  }

.services-main {
  float: left;
  margin-top: 30px;
  width: 33%;
}

.services-main h1 {
  font-family: Hiragino Mincho Pro;
}

.services-main p {
  width: 80%;
  display: inline-block;
  margin-top: 0px;
  font-size: 12px;
  color: #b3aeb5;
}

.lesson-wrapper {
  padding-bottom: 300px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading-right {
  text-align: right;
  color: #5f5d60;
}

.heading {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  font-family: arial black;
  font-size: 35px;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 0px;
  font-size: 12px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #FF9900;
  cursor: pointer;
  box-shadow: 0 7px #FF6600;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  padding: 15px;
  text-align: left;
}

.container-right {

}

footer img {
  float: left;
  width: 125px;
  padding-right: 10px;
}

footer p {
  font-size: 20px;
}

.footer-left li {
  color: #5f5d60;
  list-style: none;
}

footer {
  height: 130px;
  padding-top: 10px;
}

.heading h4 {
  color: #888888	;
}

.heading h1 {
  font-size: 30px;
}
